.app-header {
  display: flex;
  align-items: center;
  padding: 1em;
}

.header-links {
  display: flex;
  justify-content: space-around;
  width: 20em;
  margin-left: auto;
}

.header-links a:hover{
}

.app-header h1 {
  margin: 0;
}
