/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* Components */
@import 'cmps/UserMsg.css';
@import 'cmps/HomePage.css';
@import 'cmps/AppHeader.css';

/* Apps */
/* Mail */
@import 'apps/mail/MailIndex.css';
@import 'apps/mail/MailPreview.css';
@import 'apps/mail/MailCompose.css';
@import 'apps/mail/MailFilter.css';

/* Notes */
@import 'apps/notes/cmps/NoteList.css';
@import 'apps/notes/cmps/note-details.css';
@import 'apps/notes/cmps/note-edit.css';
@import 'apps/notes/cmps/note-filter.css';
<<<<<<< HEAD
@import url('apps/notes/cmps/note-toolbar.css');
=======
>>>>>>> 026bc61c54d874b5a789da93cf4263782e9f3a9b
