.note-list ul {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 60px;
  padding: 10px;
  background-color: var(--ocean-blue);
}
.note-list ul li {
  display: grid;
  align-content: space-between;
  justify-content: center;
  padding: 10px;
  background-color: var(--air-force-blue);
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.note-list ul li:hover {
  transform: scale(1.05);
}

.note-list li h2 {
  text-align: center;
  margin-top: 0;
  height: 2.3em;
}
.note-list li h2:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.note-list ul li .actions {
  display: flex;
  justify-content: space-between;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
