.mail-preview {
  display: grid;
  grid-template-columns: 50px 200px 1fr 100px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #c2c2c2;
}

.mail-preview .star {
  cursor: pointer;
}

.mail-preview:hover {
  box-shadow: 1px 1px 8px 0px;
}

.read {
  background-color: #c4bcba;
}
