.wrapper {
  display: flex;
  gap: 1em;
}

.mail-main-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.mail-links-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 280px;
}

.mail-details {
  padding: 0.5em;
  border: 1px solid #2c2c2c;
  border-radius: 15px;
  margin-inline: 1em;
  height: 80vh;
}

.mail-body {
  background-color: #f5f5f5;
}
