.note-list ul {
  gap: 1em;
  columns: 4 230px;

  background-color: var(--ocean-blue);
}

.note-list ul li {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 238px;
  min-height: 10em;
  margin-bottom: 0.75em;
  break-inside: avoid-column;

  border-radius: 8px;
  border: 1px solid rgb(94, 57, 57);

  cursor: pointer;

  transition: transform 0.3s ease-in-out;

  opacity: 1;
  transition: opacity 0.3s ease;
}

.note-toolbar{
  opacity: 0;
  transition: opacity 0.3s ease;
}

.note-list ul li:hover .note-toolbar{
  opacity: 1;
}



.note-list li h2 {
  text-align: center;
  margin-top: 0.3em;

}
.note-preview {
  width: inherit;
  word-wrap: break-word; /* Add this property */
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
