.note-details {
    position: relative;
    padding: 10px;
    background-color: var(--thistle);
}

.note-details img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;
    transition: 400ms;
}

.note-details img:hover {
    rotate: -10deg;
}