.note-todos ul > li {
  list-style: none;
}

.todos-buttons {
    /* opacity: 0; */
}

.todos-buttons:hover {
    opacity: 1;
}

.note-todos ul > li input:hover {
    list-style: none;
    opacity: 1;
  }
  