.note-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  columns: 4 230px;
  column-count: auto;

  background-color: var(--ocean-blue);
}


.note-list ul li {
  
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
  width: 15em;
  height: 20em;

  break-inside: avoid-column;
  background-color: var(--air-force-blue);
  
/* margin-bottom: 20px; */
  border-radius: 25px;
  border: 1px solid rgb(94, 57, 57);

  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.note-list ul li:hover {
  transform: scale(1.05);
}

.note-list li h1 {
  text-align: center;
  margin-top: 0;
  font-size: 15px;
  height: 2.3em;
  margin-bottom: 50px;

}
.note-preview{
  width: inherit; 
  word-wrap: break-word; /* Add this property */

}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
